In [1]:
import os

In [2]:
data_dir = os.path.join('..','resources','data')

In [3]:
os.listdir(data_dir)

['07-2019.csv',
 '06-2019.csv',
 '10-2019.csv',
 '11-2019.csv',
 '09-2019.csv',
 '08-2019.csv',
 'airports.csv',
 '12-2019.csv',
 '05-2019.csv']

In [4]:
import pandas as pd

In [5]:
primary_df = pd.concat([
    pd.read_csv(os.path.join(data_dir,filename))
    for filename in os.listdir(data_dir)[:-1]
])

primary_df_rows, primary_df_cols = primary_df.shape

print(f"{primary_df_rows:,} rows × {primary_df_cols:,} columns")

4,847,975 rows × 58 columns

In [6]:
primary_df.head()

,carrier_code,flight_number,origin_airport,destination_airport,date,scheduled_elapsed_time,tail_number,departure_delay,arrival_delay,delay_carrier,...,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords,score,last_updated
0,AS,121.0,SEA,ANC,2019-07-01,215.0,N611AS,0.0,-16.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,B6,1092.0,BQN,FLL,2019-07-01,155.0,N589JB,-19.0,-40.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,B6,668.0,PSE,MCO,2019-07-01,175.0,N662JB,73.0,69.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,F9,402.0,LAX,DEN,2019-07-01,143.0,N706FR,-1.0,-7.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,F9,790.0,PDX,DEN,2019-07-01,156.0,N350FR,21.0,10.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Get data types and number of null values for each column
pd.concat(
    [
        primary_df.dtypes,
        primary_df.isna().sum()
    ],
    axis=1,
    keys=['dtypes','null_count']
)

                                 dtypes  null_count
carrier_code                     object       29408
flight_number                   float64       29408
origin_airport                   object       29408
destination_airport              object       29408
date                             object       29408
scheduled_elapsed_time          float64       29408
tail_number                      object       41214
departure_delay                 float64       29408
arrival_delay                   float64       29408
delay_carrier                   float64       29408
delay_weather                   float64       29408
delay_national_aviation_system  float64       29408
delay_security                  float64       29408
delay_late_aircarft_arrival     float64       29408
cancelled_code                   object       29408
year                            float64       29408
month                           float64       29408
day                             float64       29408
weekday                         float64       29408
scheduled_departure_dt           object       29408
scheduled_arrival_dt             object       29408
actual_departure_dt              object       98556
actual_arrival_dt                object      103628
STATION_x                       float64       31236
HourlyDryBulbTemperature_x      float64       31236
HourlyPrecipitation_x           float64       38144
HourlyStationPressure_x         float64       31236
HourlyVisibility_x              float64       31236
HourlyWindSpeed_x               float64       31236
STATION_y                       float64       31238
HourlyDryBulbTemperature_y      float64       31238
HourlyPrecipitation_y           float64       38143
HourlyStationPressure_y         float64       31238
HourlyVisibility_y              float64       31238
HourlyWindSpeed_y               float64       31238
id                              float64     4818567
ident                            object     4818567
type                             object     4818567
name                             object     4818567
latitude_deg                    float64     4818567
longitude_deg                   float64     4818567
elevation_ft                    float64     4820572
continent                        object     4847858
country_name                     object     4818567
iso_country                      object     4818567
region_name                      object     4818567
iso_region                       object     4818567
local_region                     object     4818567
municipality                     object     4818634
scheduled_service               float64     4818567
gps_code                         object     4827237
iata_code                        object     4845945
local_code                       object     4826366
home_link                        object     4846905
wikipedia_link                   object     4845486
keywords                         object     4843018
score                           float64     4818567
last_updated                     object     4818567